@charset "utf-8";
/*  스킵메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -40px;
  width: 140px;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  background: #333;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* 레이아웃 */

#header {
  width: 100%;
  /* height: 64px; */
  background-color: #fff;
  border-bottom: 1px solid #c6c6c6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
#banner {
  position: relative;
  margin-top: 64px;
}
#movie {
  /* background-color: #f8f8f8; */
}
#event {
}
#opening {
  background: url(../img/bg01.jpg) no-repeat center top;
  background-size: cover;
  margin: 17px 0;
}
#new {
}
#help {
}
#footer {
  background: #211f1f;
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgba(197, 255, 182, 0);
}
.banner {
  position: relative;
}

/* 로우 영역 */
.row {
  padding: 0 16px;
}

/* 모바일용 메뉴 */
#mNav {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  display: none;
}
.ham {
  display: block;
  width: 25px;
  height: 10px;
  background: rgba(0, 0, 0, 0);
  padding: 15px 10px 10px 10px;
  position: absolute;
  top: 10px;
  right: 0;
}
#mNav ul {
  width: 50%;
  height: 100vh;
  background-color: rgba(80, 0, 217, 1);
  position: absolute;
  top: 53px;
  right: 0;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.5s;
}
#mNav ul li {
  border-bottom: 1px solid #a8a8a873;
  padding: 24px;
}
#mNav ul li a {
  font-size: 20px;
  color: #fff;
}
#mNav ul.active {
  transform: translateX(0);
}

/* 손가락 터치 부분이라 영역을 넓게 해줌 */
.ham span {
  position: relative;
  display: block;
  width: 25px;
  height: 4px;
  background: #38116a;
}
.ham span::before {
  content: "";
  width: 25px;
  height: 4px;
  background: #38116a;
  position: absolute;
  left: 0;
  top: -7px;
}
.ham span::after {
  content: "";
  width: 25px;
  height: 4px;
  background: #38116a;
  position: absolute;
  left: 0;
  top: 7px;
}

/* 헤더 영역 */
.header {
  display: flex;
  justify-content: space-between;
}
.header h1 em {
  padding: 15px 8px 5px 0;
  display: inline-block;
  padding-right: 8px;
}
.header h1 em img {
  width: 155px;
}
.header h1 strong {
  display: block;
  position: absolute;
  left: 194px;
  top: 23px;
}
.header h1 strong img {
  width: 126px;
}
.header .nav ul {
  display: flex;
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  width: 103px;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}

/* 배너 영역 */
.banner_menu {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100px;
  z-index: 1000;
}
.banner_menu a {
  color: #fff;
  font-size: 16px;
}
.banner_menu a:hover {
  color: #c1c1c1;
  transition: all 0.3s;
}
.banner_menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .banner_menu .bm_left {
  float: left;
}
.banner_menu .bm_right {
  float: right;
} */

.bm_left ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.bm_left ul li.total {
  margin-right: 20px;
}
.bm_left ul li.total a {
  font-size: 14px;
  padding: 3px 10px;
  display: inline-block;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.bm_left ul li.total a:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.bm_left ul li.total a i.fa-bars {
  padding-right: 5px;
}

.bm_right {
  display: flex;
  align-items: center;
}
.bm_right ul li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
.bm_right ul li.line {
  margin-right: 30px;
}
.bm_right ul li.white {
  margin-right: 10px;
}
.bm_right ul li.white a {
  width: 80px;
  background-color: #fff;
  color: #38116a;
  padding: 7px 30px 9px 30px;
  display: inline-block;
  border: 1px solid #38116a;
}
.bm_right ul li.purple {
  margin-right: 0;
}
.bm_right ul li.purple a {
  width: 80px;
  background-color: #38116a;
  color: #fff;
  padding: 7px 30px 9px 30px;
  display: inline-block;
  border: 1px solid #6f2bc7;
}
.banner_menu li.line::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 6px;
  right: -18px;
}

/* 슬라이더 */
.slider {
  width: 100%;
  height: 600px;
}
.slider .ss1 {
  background: url(../img/main_slider01.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss2 {
  background: url(../img/main_slider02.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss3 {
  background: url(../img/main_slider06.webp) no-repeat top center;
  background-size: cover;
}
.slider .swiper-slide h2 {
  font-size: 62px;
  line-height: 70px;
  color: #fff;
  margin-top: 200px;
  position: relative;
  display: inline-block;
}
.slider .swiper-slide h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  bottom: -35px;
}
.slider .swiper-slide h2 em {
  display: block;
  font-size: 59px;
  font-weight: 100;
}
.slider .swiper-slide p {
  font-size: 27px;
  color: #fff;
  padding-top: 55px;
}

/* 무비 */
.movie {
  padding: 100px 0;
}
.movie_title {
  margin-bottom: 60px;
}
.movie_title ul {
  display: flex;
  width: 848px;
  margin: 0 auto;
}
.movie_title ul li {
  width: 25%;
  text-align: center;
  border: 1px solid #c4c4c4;
  margin-left: -1px;
}
.movie_title ul li a {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  color: #666;
  font-weight: 700;
}
.movie_title ul li.active a {
  background: #666;
  color: #fff;
}

.movie_chart {
  /* height: 592px; */
}
/* .movie_chart>div { display: flex; gap:18px ;} */
/* .movie_chart>div>div{ width: 292px; height: 592px;} */
/* .movie_chart>div>div:last-child {margin-right: 0;} */

.poster {
  position: relative;
  z-index: 1000;
}
.poster img {
  display: block;
}
.poster .rank {
  position: absolute;
  top: 17px;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #38116a;
  text-align: center;
  font-size: 22px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.poster .rank strong {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.poster .mx {
  position: absolute;
  top: 17px;
  right: 17px;
}
.poster .mx span {
  width: 103px;
  height: 25px;
  display: block;
}
.poster .mx .m {
  background-position: 0 -75px;
}
.poster .mx .b {
  background-position: 0 -100px;
}

.poster_overlay {
  width: 100%;
  height: 100%;
  padding: 50px 30px 0 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}
.poster_overlay .summary {
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.poster_overlay .score {
  width: 100%;
  border-top: 1px solid #c1c1c1;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.poster_overlay .score span {
  font-size: 15px;
  vertical-align: 3px;
  color: #c1c1c1;
}
.poster_overlay .score strong {
  font-size: 30px;
  font-weight: 300;
  padding-left: 20px;
}
.poster:hover .poster_overlay {
  opacity: 1;
}
.infor {
  background-color: #fff;
  padding: 17px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.infor h3 {
  margin-bottom: 20px;
}
.infor h3 span {
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-top: 9px;
  vertical-align: -3px;
  margin-right: 8px;
}
.infor h3 span.all {
  background-position: -87px -125px;
}
.infor h3 span.a12 {
  background-position: -29px -125px;
}
.infor h3 span.a15 {
  background-position: 0px -125px;
}
.infor h3 span.a19 {
  background-position: -58px -125px;
}
.infor h3 strong {
  color: #333;
  font-size: 30px;
  font-weight: 700;
}
.infor .infor_btn {
  display: flex;
  justify-content: space-between;
}
.infor .infor_btn a {
  width: 48%;
  background: #f2f2f2;
  font-size: 18px;
  padding: 15px 0;
  box-sizing: border-box;
  text-align: center;
}

/* 이벤트 */
.event {
  padding: 100px 0;
}
.event h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.event img {
  display: block;
}
.event .event_inner {
  display: flex;
  gap: 2%;
}
.event .event_left {
  width: 66%;
  /* margin-right: 2%; */
  display: flex;
  flex-wrap: wrap;
}
.event_slider {
  width: 100%;
}
.event_box1,
.event_box2 {
  width: 50%;
}
.event .event_right {
  width: 32%;
}

/* 오프닝 */
.opening {
  padding: 100px 0;
  text-align: center;
  color: #bb9a51;
}
.opening h2 {
  margin-bottom: -5px;
  /* line-height: 1; */
}
.opening h2 .grand {
  width: 330px;
  height: 45px;
  background-position: 0 -175px;
  display: inline-block;
}
.opening .date {
  font-size: 28px;
}
.opening .desc {
  font-size: 35px;
  font-weight: 300;
  background: url(../img/bar.png) no-repeat bottom center;
  background-size: 100%;
  padding-bottom: 20px;
}
.opening .open_box {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
  padding: 20px 3% 0 3%;
}
.opening .open_box > div {
  width: 27.333%;
  /* flex: 1; */
  border: 1px solid #3e4b44;
  margin-top: 4%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(20px); */
}
.opening .open_box > div h3 {
  color: #fff;
  font-weight: 300;
  border: 1px solid #6f2bc7;
  margin-top: -24px;
  font-size: 19px;
  display: inline-block;
  background-color: #38116a;
  padding: 10px 20px;
}
.opening .open_box > div p {
  font-size: 23px;
  color: #fff;
  font-weight: 300;
  padding: 6% 0 10% 0;
}
.opening .open_box > div em {
  display: block;
}
.opening .open_box > div strong {
  display: block;
  font-weight: 700;
}

/* 새로운 영화 */
.new {
  padding: 100px 0;
}
.new h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
/* .new .new_inner {
  display: flex;
  flex-wrap: wrap;
}
.new .new_inner .new_left {
  background: #ccc url(../img/new01.jpg) center center;
  background-size: cover;
  height: 500px;
  width: calc(100% - 422px);
  margin-right: 22px;
}
.new .new_inner .new_right {
  width: 400px;
  height: 500px;
  background: #f0f0f0;
} */
.new .new_inner {
  display: flex;
  gap: 22px;
}
.new .new_inner .new_left {
  background: #ccc url(../img/new01.jpg) center center;
  background-size: cover;
  flex: 1;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new .new_inner .new_left .play {
  width: 120px;
  height: 120px;
  cursor: pointer;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.new .new_inner .new_right {
  width: 400px;
  height: 500px;
  background: #f0f0f0;
  padding: 34px;
  box-sizing: border-box;
}
.new .new_inner .new_right .title {
  font-size: 28px;
  color: #000;
}
.new .new_inner .new_right .release {
  font-size: 15px;
  color: #333;
}
.new .new_right .star {
  padding: 13px 0;
}
.new .new_right .star strong {
  font-size: 18px;
  padding-left: 5px;
}
.new .new_right .star span {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -3px;
}
.new .new_right .star .star1 {
  background-position: -393px 0;
}
.new .new_right .star .star2 {
  background-position: -412px 0;
}
.new .new_right .star .star0 {
  background-position: -374px 0;
}
.new .new_right .summary {
  font-size: 14px;
}
.new .new_right .summary .genre {
  padding-bottom: 3px;
}
.new .new_right .summary .age {
  padding-bottom: 10px;
}
.new .new_right .summary .desc {
  margin-bottom: 20px;
  height: 108px;
  overflow: hidden;
}
.new .new_right .select {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2%; */
}
.new .new_right .select .s1 {
  width: 49%;
  margin-right: 2%;
}
.new .new_right .select .s2 {
  width: 49%;
  background: #2c2f34;
}
.new .new_right .select .s2 select {
}
.new .new_right .select .s3 {
  width: 100%;
  margin-top: 2%;
}
.new .new_right .select .s3 input::placeholder {
  color: #ccc;
}
.new .new_right .btn {
  display: flex;
  gap: 2%;
  margin-top: 2%;
}
.new .new_right .btn a {
  display: block;
  flex: 1;
  text-align: center;
  padding: 10px 20px 12px 30px;
  background-color: yellow;
}
.new .new_right .btn .white {
  background-color: #fff;
  color: #38116a;
  border: 1px solid #6f2bc7;
}
.new .new_right .btn .purple {
  background-color: #38116a;
  color: #fff;
  border: 1px solid #6f2bc7;
}

/* help */
.help {
  display: flex;
  gap: 2%;
  padding-bottom: 100px;
}
.help article {
  /* width: 32%;
  margin-right: 2%; */
  flex: 1;
}
.help article > div {
  border: 1px solid #dbdbdb;
  height: 350px;
}
.help article h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.help article.help_box3 > div {
  border: 0;
}
/* 공지사항 */
.notice {
  padding: 17px;
  position: relative;
}
.notice ul {
  /* overflow: hidden; */
  display: flex;
}
.notice ul li {
  /* float: left; */
  margin-right: -1px;
  text-align: center;
}
.notice ul li > a {
  display: block;
  width: 80px;
  padding: 10px 20px;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  color: #666;
  background: #f5f5f5;
}
.notice ul li.active > a {
  background: #fff;
}
.notice ul li ul {
  width: 90%;
  box-sizing: border-box;
  position: absolute;
  left: 17px;
  top: 70px;
  /* display: none; */
}
.notice ul li.active ul {
  display: block;
}
.notice ul li ul li {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 17px;
  border-bottom: 1px solid #dbdbdb;
}
.notice ul li ul li:last-child {
  border-bottom: 0;
}

.notice ul li ul li dt em {
  color: #999;
}
.notice ul li ul li dt .bar {
  position: relative;
  padding-right: 10px;
}
.notice ul li ul li dt .bar::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 4px;
  width: 1px;
  height: 10px;
  background-color: #999;
}
.notice ul li ul li dd {
  color: #777;
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* 한줄 효과 */
}
/* 할인카드 */
.card {
  padding: 17px;
}
.card ul {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card ul li {
  padding: 14px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}
.card ul li a {
  display: flex;
}
.card ul li a span.card_img {
  width: 115px;
  margin-right: 5%;
}

.card ul li a span.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card ul li a span.desc {
}
.card ul li a span.desc strong {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}
.card ul li a span.desc em {
  font-size: 14px;
  color: #666;
}
/* .card ul li {
  position: relative;
  border: 1px solid #dbdbdb;
  padding: 17px;
  margin-bottom: 17px;
  min-height: 102px;
  box-sizing: border-box;
}
.card ul li span {
  position: absolute;
  left: 17px;
  top: 17px;
}
.card ul li span img {
  width: 115px;
}
.card ul li strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #666;
  padding-left: 130px;
}
.card ul li em {
  display: block;
  font-size: 14px;
  padding-left: 130px;
} */

/* 고객센터 */
.service ul {
  display: flex;
  flex-wrap: wrap;
}
.service ul li {
  width: 50%;
  height: 193px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  text-align: center;
}
.service ul li a span {
  display: block;
  width: 83px;
  height: 83px;
  margin: 30px auto 20px auto;
}
.service ul li a strong {
  display: block;
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
.service ul li:nth-child(1) {
  border-right: 0;
  border-bottom: 0;
}
.service ul li:nth-child(2) {
  border-bottom: 0;
}
.service ul li:nth-child(3) {
  border-right: 0;
}

/* 푸터 */
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_infor {
  padding: 50px 0;
}
.footer_infor h2 {
  width: 150px;
}
.footer_infor ul {
  /* display: flex; */
  padding: 15px 0;
}
.footer_infor ul li {
  position: relative;
  display: inline;
  padding-right: 16px;
  white-space: nowrap;
}
.footer_infor ul li::after {
  content: "";
  width: 1px;
  height: 11px;
  background: #8f8f8f;

  position: absolute;
  top: 5px;
  right: 5px;
}
.footer_infor ul li:last-child::after {
  width: 0;
  height: 0;
}
.footer_infor ul li a {
  color: #8f8f8f;
}
.footer_infor address p {
  color: #8f8f8f;
}
.footer_infor address p {
  color: #8f8f8f;
  padding-bottom: 15px;
}
.footer_sns {
  padding-top: 33px;
}
.footer_sns ul {
  /* display: flex; */
}
.footer_sns li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 0 0 4px;
}
.footer_sns li.s1 {
  background-position: 0 -375px;
}
.footer_sns li.s2 {
  background-position: -36px -375px;
}
.footer_sns li.s3 {
  background-position: -72px -375px;
}
.footer_sns li.s4 {
  background-position: -108px -375px;
}
.footer_sns li.s5 {
  background-position: -144px -375px;
}
.footer_sns li.s1:hover {
  background-position: 0 -411px;
}
.footer_sns li.s2:hover {
  background-position: -36px -411px;
}
.footer_sns li.s3:hover {
  background-position: -72px -411px;
}
.footer_sns li.s4:hover {
  background-position: -108px -411px;
}
.footer_sns li.s5:hover {
  background-position: -144px -411px;
}
.footer_sns .tel {
  text-align: right;
  padding-top: 5px;
}
.footer_sns .tel a {
  color: #8f8f8f;
  font-size: 21px;
}
.footer_sns .tel a em {
  color: #fff;
}

/* 트레일러 */
.overlay {
  background-color: rgba(0, 0, 0, 0.92);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

/* 처음엔 숨김 */
.overlay.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: min(960px, 92vw); */

  /* 여기서 크기를 키운다 */
  width: 96vw;
  max-width: 1400px;

  aspect-ratio: 16 / 9;
}

#trailer,
#trailer iframe {
  width: 100%;
  height: 100%;
}
.modal_close {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(../img/close.svg) no-repeat;
  background-size: 32px 32px;
  border: 0;
  color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  text-indent: 100%;
}
body.modal_on {
  overflow: hidden;
}
