@charset "utf-8";

/* 레이아웃 */
#header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #c6c6c6;
}
#banner {
  position: relative;
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgba(197, 255, 182, 0);
}
/* 로우 영역 */
.row {
  padding: 0 28px;
}

/* 헤더 영역 */
.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 a {
  display: flex;
  align-items: center;
}
.header h1 em {
  /* padding: 8px 8px 3px 0; */
  /* display: inline-block; */
  padding-right: 8px;
}
.header h1 em img {
  width: 155px;
}
.header h1 strong {
  /* display: inline-block; */
  /* display: block;
    position: absolute;
    left: 170px;
    top: 14px; */
}
.header h1 strong img {
  width: 157px;
}
.header .nav ul {
  display: flex;
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  width: 103px;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 20px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}

/* 배너 영역 */
.banner_menu {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100px;
}
.banner_menu a {
  color: #fff;
  font-size: 16px;
}
.banner_menu a:hover {
  color: #c1c1c1;
  transition: all 0.3s;
}
.banner_menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .banner_menu .bm_left {
  float: left;
}
.banner_menu .bm_right {
  float: right;
} */

.bm_left ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.bm_left ul li.total {
  margin-right: 20px;
}
.bm_left ul li.total a {
  font-size: 14px;
  padding: 3px 10px;
  display: inline-block;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.bm_left ul li.total a:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.bm_right {
  display: flex;
  align-items: center;
}
.bm_right ul li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
.bm_right ul li.line {
  margin-right: 30px;
}
.bm_right ul li.white {
  margin-right: 10px;
}
.bm_right ul li.white a {
  width: 80px;
  background-color: #fff;
  color: #38116a;
  padding: 7px 30px 9px 30px;
  display: inline-block;
  border: 1px solid #38116a;
}
.bm_right ul li.purple {
  margin-right: 0;
}
.bm_right ul li.purple a {
  width: 80px;
  background-color: #38116a;
  color: #fff;
  padding: 7px 30px 9px 30px;
  display: inline-block;
  border: 1px solid #6f2bc7;
}
.banner_menu li.line::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 6px;
  right: -18px;
}
