/* .slider {

        --swiper-navigation-size: 44px;
        --swiper-navigation-top-offset: 50%;
        --swiper-navigation-sides-offset: 20px;
        --swiper-navigation-color: var(--swiper-theme-color);

        --swiper-pagination-color: rgb(255, 255, 255);
        --swiper-pagination-left: auto;
        --swiper-pagination-right: 8px;
        --swiper-pagination-bottom: 8px;
        --swiper-pagination-top: auto;
        --swiper-pagination-fraction-color: inherit;
        --swiper-pagination-bullet-width: 18px;
        --swiper-pagination-bullet-height: 18px;
        --swiper-pagination-bullet-inactive-color: #ffffff;
        --swiper-pagination-bullet-inactive-opacity: 0.5;
        --swiper-pagination-bullet-opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 10px;
} */
.swiper {
  z-index: 100;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.8);
  width: 20px;
  height: 20px;
}
.swiper-pagination-bullet-active {
  background: rgb(255, 255, 255);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background-image: url("../icons/btn-prev.svg");
}

.swiper-button-next {
  background-image: url("../icons/btn-next.svg");
}
.swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.swiper-slide .container {
  z-index: 200;
}

@media (max-width: 1290px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 600px) {
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
}

.slider2 .swiper-slide::after {
  opacity: 0;
}
